// Colors
$primary: #1366D9;
$primary-light: #0ab3f9;
$primary-transparent: #80d9ff41;
$bg-color: #F0F2F5;
$blue-text: #0F50AA;
$dark-text: #383E49;
$mid-dark-text: #444444;
$grey-text: #5D6679;
$mid-grey-text: #666666;
$light-text: #858D9D;
$line-color: #d0d3d8;

