@import "../../sass/variables";
.sales
{
	&__actions
	{
		padding: 1rem;
		border-radius: 10px;
		background-color: white;
		margin-bottom: 0.5rem;
		height: 80px;
		align-items: center;
		gap: 1rem;
		justify-content: space-between;
		#sales__time
		{
			height: 45px;
			border-radius: 7px;
			border: 1px solid $line-color;
			background-color: white;
			padding: 0 1rem;
			color: $dark-text;
		}
		.sales__by--date
		{
			gap: 1rem;
			transition: all 0.15s ease-in;
			.sales__start, .sales__end
			{
				gap: 0.5rem;
				align-items: center;
				.datepick
				{
					height: 45px;
				}
			}
			.sales__end
			{
				display: none;
			}
			.sales__end.active
			{
				display: flex;
			}
		}
		.add__sales
		{
			height: 45px;

		}
	}
	&__okay
	{
		height: 45px;
	}
	&__list
	{
		padding: 1rem;
		border-radius: 10px;
		background-color: white;
		h2
		{
			text-align: left;
			margin-bottom: 0.5rem;
		}
	}
}