 

 
break;
case "1":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="13">  70-3001-0002</option> 
<option value="14">70-3001-0011</option> 
<option value="15">70-3001-0012</option> 
`;
break;
case "2":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="39">  ALP100</option> 
<option value="40">ALP150</option> 
<option value="41">ALP200</option> 
<option value="42">ALP250</option> 
<option value="43">ALP40</option> 
<option value="44">ALP50</option> 
<option value="45">ALP80</option> 
`;
break;
case "3":
modelSelect.innerHTML += `
<option value=" "> -Select-/option>
<option value="52">  MM00120</option> 
<option value="53">MM00145</option> 
<option value="54">MM0020</option> 
<option value="55">MM0040</option> 
<option value="56">MM0050</option> 
<option value="57">MM0080</option> 
<option value="58">MMO100</option> 
<option value="59">MMO150</option> 
<option value="60">MMOO20</option> 
<option value="61">MMOO40</option> 
<option value="62">MMOO75</option> 
`;
break;
case "4":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="63">  QJP20</option> 
<option value="64">QJP20W</option> 
<option value="65">QJP40</option> 
<option value="66">QJP40W</option> 
<option value="67">QJP50</option> 
<option value="68">QJP50W</option> 
<option value="69">QJP85</option> 
<option value="70">QJP85W</option> 
`;
break;
case "5":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="75">  AXN-P6T230</option> 
`;
break;
case "6":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="86">  12V 40WP</option> 
<option value="87">12V 60WP</option> 
<option value="88">ASL-S02012</option> 
<option value="89">ASL-S04012</option> 
<option value="90">ASL-S08012</option> 
`;
break;
case "7":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="91">  AP-65</option> 
`;
break;
case "8":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="92">  AE100P(36)</option> 
<option value="93">AE10P(36)</option> 
<option value="94">AE120P(36)</option> 
<option value="95">AE140P(36)</option> 
<option value="96">AE150P(36)</option> 
<option value="97">AE20P(36)</option> 
<option value="98">AE260P(72)</option> 
<option value="99">AE40P(36)</option> 
<option value="100">AE50P(36)</option> 
<option value="101">AE55P(36)</option> 
<option value="102">AE60P(36)</option> 
<option value="103">AE75P(36)</option> 
<option value="104">AE80P(36)</option> 
<option value="1525">AE100P(36)*2</option> 
`;
break;
case "9":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="105">  AE10P(36)</option> 
`;
break;
case "10":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="122">  AXN-M5T20</option> 
<option value="123">AXN-M5T40</option> 
<option value="124">AXN-M5T80</option> 
<option value="11">Panel Name:BP Solar</option> 
<option value=" ">-Select-/option>
<option value="192">  BP3165N</option> 
<option value="193">BP3170N</option> 
<option value="194">BP380J</option> 
`;
break;
case "12":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="200">  CS5A-205M</option> 
<option value="201">CS5E-20M</option> 
<option value="202">CS5H-40M</option> 
<option value="203">CS6D-60P</option> 
<option value="204">CS6D-70P</option> 
`;
break;
case "13":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="209">  PM 20</option> 
<option value="210">PM 40</option> 
<option value="211">PM20</option> 
<option value="212">PM62</option> 
`;
break;
case "14":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="213">  DJ-120D</option> 
<option value="214">DJ-20D</option> 
<option value="215">DJ-40D</option> 
<option value="216">DJ-70D</option> 
<option value="217">DJ-80D</option> 
`;
break;
case "15":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="218">  SLP020-12V</option> 
<option value="219">SLP051-12</option> 
<option value="220">SLP055-12V</option> 
<option value="221">SLP100-12</option> 
<option value="222">SLP105-12</option> 
<option value="223">SLP120-12V</option> 
<option value="224">SLP150-12</option> 
<option value="225">SLP190S-24</option> 
<option value="226">SLP205-24</option> 
<option value="227">SLP80-12V</option> 
`;
break;
case "16":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="228">  CNPV 100M</option> 
<option value="229">CNPV 145 M</option> 
<option value="230">CNPV 150P</option> 
<option value="231">CNPV 20 M</option> 
<option value="232">CNPV 40 M</option> 
<option value="233">CNPV 50 M</option> 
<option value="234">CNPV 85 M</option> 
<option value="235">CNPV-100P</option> 
`;
break;
case "17":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "18":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="236">  CONERGYQ18PA</option> 
<option value="237">CONERGYQ20PA</option> 
<option value="238">CONERGYQ25PA</option> 
`;
break;
case "19":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "20":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "21":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="247">  SE140P(36)</option> 
<option value="248">SE55P(36)</option> 
`;
break;
case "22":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="255">  VE-100-36M</option> 
<option value="256">VE-20-36M</option> 
<option value="257">VE-20-36P</option> 
<option value="258">VE-55-36M</option> 
<option value="259">VE-80-36M</option> 
<option value="23">Panel Name:DG New technology I & E Co. Ltd</option> 
<option value=" ">-Select-/option>
<option value="263">  SPM-10 MONO</option> 
<option value="264">SPM-120 MONO</option> 
`;
break;
case "24":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="266">  CNPV-20W</option> 
<option value="267">CNPV-40W</option> 
`;
break;
case "25":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="279">  ESC-1L</option> 
<option value="280">ESC-2L</option> 
<option value="281">ESC-4L</option> 
<option value="282">ESC72M-310</option> 
<option value="283">ESC-SSHS-09</option> 
<option value="284">ESM10-156</option> 
<option value="285">ESM175-156</option> 
<option value="286">ESM20-156</option> 
<option value="287">ESM25-156</option> 
<option value="288">ESM290-156</option> 
<option value="289">ESM40-156</option> 
<option value="290">ESM50-156</option> 
<option value="291">ESM60-156</option> 
<option value="292">ESM80-156</option> 
`;
break;
case "26":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="299">  D1 ES20P36</option> 
<option value="300">D2 ES40P36</option> 
`;
break;
case "27":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="302">  ES100P36</option> 
<option value="303">ES125P36</option> 
`;
break;
case "28":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="29">Panel Name: </option> 
<option value=" ">-Select-/option>
<option value="309">  ESC-36M-100</option> 
<option value="310">ESC-36M-20</option> 
`;
break;
case "30":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="324">  ESC</option> 
<option value="325">ESC-20M</option> 
<option value="326">ESC36M-10</option> 
<option value="327">ESC-36M-100</option> 
<option value="328">ESC36M-100</option> 
<option value="329">ESC-36M-20</option> 
<option value="330">ESC-36M-25</option> 
<option value="331">ESC36M-25</option> 
<option value="332">ESC-36M-40</option> 
<option value="333">ESC-36M-50</option> 
<option value="334">ESC-36M-55</option> 
<option value="335">ESC-36M-60</option> 
<option value="336">ESC-36M-80</option> 
<option value="337">ESC-72M-175</option> 
<option value="338">ESM-140POLY</option> 
<option value="339">ESM-230POLY</option> 
<option value="340">ESM-80POLY</option> 
<option value="31">Panel Name:G. E. Energy</option> 
<option value=" ">-Select-/option>
<option value="365">  GEPV-030-MNA</option> 
<option value="366">GEPV-045-MNA</option> 
<option value="367">GEPV-050-MNA</option> 
<option value="368">GEPV-072-MNA</option> 
<option value="369">GEPV-110-MCB</option> 
<option value="32">Panel Name:HHV Solar Technilogies Pvt. Ltd.</option> 
<option value=" ">-Select-/option>
<option value="404">  HSTAC12020M</option> 
<option value="405">HSTAC12040M</option> 
`;
break;
case "33":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="406">  HSPV100WP125-36M</option> 
<option value="407">HSPV200WP125-72M</option> 
<option value="408">HSPV20WP</option> 
`;
break;
case "34":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="427">  HOORAY130MCP</option> 
<option value="428">HOORAY20MCP</option> 
<option value="429">HOORAY20MCP-2</option> 
`;
break;
case "35":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "36":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="447">  I-10</option> 
<option value="448">I-22</option> 
<option value="449">I-40</option> 
<option value="450">I-44(22*2)</option> 
<option value="451">I-75</option> 
<option value="452">I-80</option> 
<option value="453">IS-36/12</option> 
<option value="454">IS-75/12</option> 
<option value="455">ISF-60/12</option> 
`;
break;
case "37":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="457">  SNM-P190(54)</option> 
<option value="458">SNM-P20(36)</option> 
<option value="459">SNM-P20(54)</option> 
<option value="460">SNM-P200(54)</option> 
`;
break;
case "38":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="461">  JS100D</option> 
<option value="462">JS150P</option> 
<option value="463">JS80D</option> 
`;
break;
case "39":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="464">  DSP100P-28</option> 
<option value="465">DSP120P-32</option> 
<option value="466">DSP130P-36</option> 
<option value="467">DSP190P-48</option> 
<option value="468">DSP200P-54</option> 
<option value="469">DSP20M-6</option> 
<option value="470">DSP20M-8</option> 
<option value="471">DSP20P-6</option> 
<option value="472">DSP40M-10</option> 
<option value="473">DSP55M-12</option> 
<option value="474">DSP55P-12</option> 
<option value="475">DSP60P-16</option> 
<option value="476">DSP80M-20</option> 
<option value="477">DSP80P-20</option> 
`;
break;
case "40":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="478">  DSP10P-3</option> 
`;
break;
case "41":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="479">  DSP100M-40</option> 
<option value="480">DSP120P-32</option> 
<option value="481">DSP150M-36</option> 
<option value="482">DSP51P-12</option> 
`;
break;
case "42":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="483">  JP36C020</option> 
<option value="484">JP36C040</option> 
<option value="485">JP36C060</option> 
<option value="486">JP36C075</option> 
<option value="487">JP36C080</option> 
<option value="488">JP36C100</option> 
<option value="489">JP36C120</option> 
`;
break;
case "43":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="490">  JST 20M(36)</option> 
<option value="491">JST110M(36)</option> 
<option value="492">JST120M(36)</option> 
<option value="493">JST145M(36)</option> 
<option value="494">JST150M(72)</option> 
<option value="495">JST190M(72)</option> 
<option value="496">JST40M(36)</option> 
<option value="497">JST65M(36)</option> 
<option value="498">JST80M(36)</option> 
`;
break;
case "44":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="499">  JST20P(36)</option> 
<option value="500">JST40M(36)</option> 
<option value="501">JST65M(36)</option> 
<option value="502">JST80M(36)</option> 
<option value="45">Panel Name:KD new Energy pvt. ltd</option> 
<option value=" ">-Select-/option>
<option value="505">  KD100M(40)</option> 
<option value="506">KD120M(36)</option> 
<option value="507">KD130M(36)</option> 
<option value="508">KD20M(36)</option> 
<option value="509">KD40M(36)</option> 
<option value="510">KD50M(36)</option> 
<option value="511">KD80M(36)</option> 
`;
break;
case "46":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="512">  G-EA-060</option> 
<option value="513">PLE055</option> 
`;
break;
case "47":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="48">Panel Name:KL Solar Company Pvt. Ltd.</option> 
<option value=" ">-Select-/option>
<option value="514">  KL020</option> 
<option value="515">KL025</option> 
<option value="516">KL040</option> 
<option value="517">KL060</option> 
<option value="518">KL080</option> 
<option value="49">Panel Name:KL Solar Company Pvt. Ltd.</option> 
<option value=" ">-Select-/option>
<option value="519">  KL020</option> 
<option value="520">KL025</option> 
<option value="521">KL040</option> 
<option value="522">KL060</option> 
<option value="523">KL080</option> 
<option value="524">KL120</option> 
<option value="525">KL180</option> 
`;
break;
case "50":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="526">  KM-0010</option> 
<option value="527">KM-0020</option> 
<option value="528">KM-0040</option> 
<option value="529">KM-0055</option> 
<option value="530">KM-0060</option> 
<option value="531">KM-0080</option> 
<option value="532">KM-0100</option> 
<option value="533">KM-0120</option> 
<option value="534">KM-0145</option> 
<option value="535">KM-020</option> 
<option value="536">KM-0200</option> 
<option value="537">KM-0250</option> 
`;
break;
case "51":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="571">  KD135GH-2PU</option> 
<option value="572">S MODULE</option> 
<option value="573">SLED L 1W</option> 
<option value="574">SLED L 5W</option> 
<option value="575">SSHS</option> 
`;
break;
case "52":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="576">  KC130GT</option> 
<option value="577">KC16</option> 
<option value="578">KC16T</option> 
<option value="579">KC21</option> 
<option value="580">KC21T</option> 
<option value="581">KC21T02</option> 
<option value="582">KC32</option> 
<option value="583">KC32T</option> 
<option value="584">KC32T02</option> 
<option value="585">KC40</option> 
<option value="586">KC40REB</option> 
<option value="587">KC40T</option> 
<option value="588">KC50REB</option> 
<option value="589">KC50T</option> 
<option value="590">KC65T</option> 
<option value="591">KC85T</option> 
<option value="592">KD135GH-2P</option> 
<option value="593">KD210GH-2P</option> 
<option value="53">Panel Name:Ldk Solar Co ltd</option> 
<option value=" ">-Select-/option>
<option value="598">  LDK-200D-24(S)</option> 
<option value="599">LDK-250D-20</option> 
<option value="600">LDK-280P-24</option> 
<option value="54">Panel Name:LS Solar Pte Ltd</option> 
<option value=" ">-Select-/option>
<option value="616">  ESM-20</option> 
<option value="617">SL010-12</option> 
<option value="618">SL020-12</option> 
<option value="619">SL035-12</option> 
<option value="620">SL040-12</option> 
<option value="621">SL050-12</option> 
<option value="622">SL065-12</option> 
<option value="623">SL075-12</option> 
<option value="624">SL080-12</option> 
<option value="625">SL110-12</option> 
<option value="626">SPM10-PB</option> 
<option value="627">SPM20-PB</option> 
<option value="628">SPM80-PB</option> 
<option value="55">Panel Name:LS Solar Pte Ltd.</option> 
<option value=" ">-Select-/option>
<option value="629">  ESM10-156</option> 
<option value="630">ESM20-156</option> 
<option value="631">ESM40-156</option> 
<option value="632">ESM50-156</option> 
<option value="633">ESM60-156</option> 
<option value="634">ESM80-156</option> 
<option value="635">SL010-12</option> 
<option value="636">SL020-12</option> 
<option value="637">SL040-12</option> 
`;
break;
case "56":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="658">  MBPV 10 WP</option> 
`;
break;
case "57":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="662">  PV-AD185MF5</option> 
<option value="663">PV-AE125MF5N</option> 
<option value="664">PV-EF40MS</option> 
<option value="665">PV-EF46MS</option> 
<option value="666">PV-MF100EC4</option> 
<option value="667">PV-UJ218G6</option> 
<option value="58">Panel Name:ML Solar LLC</option> 
<option value=" ">-Select-/option>
`;
break;
case "59":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="669">  MBPV1220P</option> 
<option value="670">MBPV1240P</option> 
<option value="671">MBPV1275P</option> 
`;
break;
case "60":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="688">  DJ-20D</option> 
<option value="689">DJ-40D</option> 
`;
break;
case "61":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "62":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="691">  20W</option> 
`;
break;
case "63":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="692">  10W</option> 
<option value="693">15W</option> 
<option value="694">20W</option> 
<option value="695">30W</option> 
<option value="696">40W</option> 
<option value="697">50W</option> 
<option value="698">60W</option> 
<option value="699">80W</option> 
`;
break;
case "64":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="713">  KM(P)10</option> 
<option value="714">KM(P)140</option> 
<option value="715">KM(P)150</option> 
<option value="716">KM(P)20</option> 
<option value="717">KM(P)25</option> 
<option value="718">KM(P)40</option> 
<option value="719">KM(P)55</option> 
<option value="720">KM(P)60</option> 
<option value="721">KM-100</option> 
<option value="722">KM175</option> 
<option value="723">KM190</option> 
<option value="724">KM80(6)</option> 
<option value="725">KMP10</option> 
`;
break;
case "65":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="730">  RD210TU-36P</option> 
`;
break;
case "66":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="731">  B 180(34)S1580*800</option> 
`;
break;
case "67":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="732">  SL100TU-18P</option> 
<option value="733">SL155TU-18MD</option> 
<option value="734">SL205TU-36MD</option> 
<option value="735">SL20TU-18P</option> 
<option value="736">SL230TU-36BP</option> 
<option value="737">SL40TU-18MD</option> 
<option value="738">SL50TU-18P</option> 
<option value="739">SL51TU-18P</option> 
<option value="740">SL55TU-18MD</option> 
`;
break;
case "68":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="741">  NBS-100P</option> 
<option value="742">NBS-130P</option> 
<option value="743">NBS-190</option> 
<option value="744">NBS-20P</option> 
<option value="745">NBS-55P</option> 
<option value="746">NBS-80P</option> 
`;
break;
case "69":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="747">  KM(P) 130</option> 
<option value="748">KM(P)10</option> 
<option value="749">KM175</option> 
<option value="750">KM-180</option> 
<option value="751">KM190</option> 
<option value="752">KM20(6)</option> 
<option value="753">KM40(6)</option> 
<option value="754">KM60(6)</option> 
<option value="755">KM80(6)</option> 
<option value="70">Panel Name:No Sticker ( Torn due to weather or by user)</option> 
<option value=" ">-Select-/option>
`;
break;
case "71":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="756">  SL80TU-18P</option> 
`;
break;
case "72":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="760">  125W-MSM</option> 
<option value="761">20W-MSM</option> 
<option value="762">40W-MSM</option> 
<option value="763">60W-MSM</option> 
`;
break;
case "73":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="764">  ODA130-18-P</option> 
<option value="765">ODA150-18-P</option> 
<option value="766">ODA55-18-P</option> 
<option value="767">ODA80-18-P</option> 
`;
break;
case "74":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="768">  TPS-107S(36)-100W</option> 
<option value="769">TPS-107S(36)-150W</option> 
<option value="770">TPS-107S(36)-60W</option> 
<option value="771">TPS-M6U(36)-250W</option> 
<option value="772">TPS-M6U(60)-250W</option> 
<option value="773">TPS-P6U(60)-250W</option> 
<option value="774">TPS-P6U(72)-300W</option> 
`;
break;
case "75":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="775">  RSM100M</option> 
<option value="776">RSM20P</option> 
<option value="777">RSM50P</option> 
<option value="778">RSM55P</option> 
`;
break;
case "76":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="779">  DC100P-36</option> 
<option value="780">DC10P-36</option> 
<option value="781">DC120P-36</option> 
<option value="782">DC125P-36</option> 
<option value="783">DC145P-36</option> 
<option value="784">DC150P-36</option> 
<option value="785">DC205P-72</option> 
<option value="786">DC20P-36</option> 
<option value="787">DC250P-72</option> 
<option value="788">DC30P-36</option> 
<option value="789">DC40P-36</option> 
<option value="790">DC55P-36</option> 
<option value="791">DC80P-36</option> 
`;
break;
case "77":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="792">  NS36P3-20</option> 
`;
break;
case "78":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="793">  ESM-100POLY</option> 
<option value="794">ESM-150POLY</option> 
<option value="795">ESM-50POLY</option> 
<option value="796">ESM-80POLY</option> 
`;
break;
case "79":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="797">  ESPMC020</option> 
<option value="798">ESPMC060</option> 
<option value="799">ESPMC080</option> 
<option value="800">ESPMC100</option> 
<option value="801">ESPMC150</option> 
`;
break;
case "80":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="802">  RSPL12P100</option> 
<option value="803">RSPL12P150</option> 
<option value="804">RSPL12P20</option> 
<option value="805">RSPL12P40</option> 
<option value="806">RSPL12P60</option> 
<option value="807">RSPL12P80</option> 
<option value="808">RSPL24P200</option> 
<option value="809">RSPL24P300</option> 
`;
break;
case "81":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="810">  SW020P</option> 
<option value="811">SW055P</option> 
<option value="812">SW080P</option> 
<option value="813">SW100P</option> 
`;
break;
case "82":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="814">  WF10P-02F</option> 
`;
break;
case "83":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="815">  TSE-51</option> 
`;
break;
case "84":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="816">  RD100TU-18P</option> 
<option value="817">RD20TU-18P</option> 
<option value="818">RD51TU-18P</option> 
`;
break;
case "85":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="819">  RSM050P-36</option> 
<option value="820">RSM080P</option> 
<option value="821">RSM150P</option> 
`;
break;
case "86":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="822">  XH80P(36)</option> 
`;
break;
case "87":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="823">  SL150TU-18P</option> 
`;
break;
case "88":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="824">  NS-160P</option> 
`;
break;
case "89":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="825">  HZS020P-36</option> 
<option value="826">HZS050P-36</option> 
<option value="827">HZS100P-36</option> 
<option value="1519">HZS150P-36</option> 
`;
break;
case "90":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="828">  80 WP</option> 
`;
break;
case "91":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="829">  TL 10W/54 CD LIGHT</option> 
`;
break;
case "92":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="837">  CONERGYQ 25P PA</option> 
<option value="838">CONERGYQ 25PA</option> 
<option value="839">CONERGYQ 55 PA</option> 
<option value="840">CONERGYQ25PA</option> 
<option value="841">PM0005</option> 
<option value="842">PM0020</option> 
<option value="843">PM0040</option> 
<option value="844">PM0045</option> 
`;
break;
case "93":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="845">  PNX-10</option> 
<option value="846">PNX-100</option> 
<option value="847">PNX-20</option> 
<option value="848">PNX-40</option> 
<option value="849">PNX-60</option> 
`;
break;
case "94":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="861">  PNX 20 WP</option> 
<option value="862">PNX 40 WP</option> 
<option value="863">PNX 60 WP</option> 
`;
break;
case "95":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="864">  PSS 12130</option> 
<option value="865">PSS 1220</option> 
<option value="866">PSS 1230</option> 
<option value="867">PSS 1240</option> 
<option value="868">PSS 1250</option> 
<option value="869">PSS 1251</option> 
<option value="870">PSS 1260</option> 
<option value="871">PSS 1280</option> 
<option value="872">PSS-12150</option> 
<option value="873">PSS1255</option> 
`;
break;
case "96":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="874">  PLM-100P-36F</option> 
`;
break;
case "97":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="875">  PSS 12130</option> 
<option value="876">PSS 1220</option> 
<option value="877">PSS 1230</option> 
<option value="878">PSS 1240</option> 
<option value="879">PSS 1250</option> 
<option value="880">PSS 1251</option> 
<option value="881">PSS 1260</option> 
<option value="882">PSS 1280</option> 
<option value="883">PSS-12100</option> 
<option value="884">PSS-12150</option> 
<option value="885">PSS-1255</option> 
`;
break;
case "98":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="886">  100WP</option> 
<option value="887">110WP</option> 
<option value="888">120WP</option> 
<option value="889">12V-30WP</option> 
<option value="890">12V-50WP</option> 
<option value="891">12V-80WP</option> 
<option value="892">95W</option> 
`;
break;
case "99":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="918">  RK100P(36)</option> 
<option value="919">RK120P(36)</option> 
<option value="920">RK20P(36)</option> 
<option value="921">RK40P(36)</option> 
<option value="922">RK60P(36)</option> 
`;
break;
case "100":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="960">  RAS-100W-P</option> 
<option value="961">RAS-140W-S</option> 
<option value="962">RAS-150W-P</option> 
<option value="963">RAS-20W-P</option> 
<option value="964">RAS-40W-P</option> 
<option value="965">RAS-50W-P</option> 
<option value="966">RAS-51W-P</option> 
<option value="967">RAS-55W-P</option> 
<option value="968">RAS-80W-P</option> 
`;
break;
case "101":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="992">  RK20M(36)</option> 
<option value="993">RK40M(36)</option> 
`;
break;
case "102":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="994">  20W36</option> 
<option value="995">40W36</option> 
<option value="996">5W36</option> 
`;
break;
case "103":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="997">  RS1240</option> 
<option value="998">RS1260</option> 
<option value="999">RS1680</option> 
`;
break;
case "104":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "105":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1024">  H1P190BE3</option> 
`;
break;
case "106":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1028">  12V-6A</option> 
<option value="1029">20MCP-2/20WP</option> 
<option value="1030">BP-3170</option> 
<option value="1031">SCC</option> 
<option value="1032">XANTERX/C60</option> 
<option value="1033">XANTREX/C35</option> 
<option value="1034">XANTREX/C40</option> 
`;
break;
case "107":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1035">  PSS1205</option> 
`;
break;
case "108":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1049">  STO20M(36)/S</option> 
`;
break;
case "109":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1050">  SES-12100</option> 
<option value="1051">SES-12150</option> 
<option value="1052">SES-1220</option> 
<option value="110">Panel Name:Sun Technics Energy System Pvt. Ltd.</option> 
<option value=" ">-Select-/option>
<option value="1053">  STIM10</option> 
<option value="1054">STIM20</option> 
<option value="1055">STIM3</option> 
<option value="1056">STIM40</option> 
<option value="1057">STIM75</option> 
`;
break;
case "111":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1062">  HSPV20WP</option> 
`;
break;
case "112":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1067">  ND-120T1</option> 
<option value="1068">ND-120T1D</option> 
<option value="1069">ND-130T1J</option> 
<option value="1070">ND-T065M1</option> 
<option value="1071">ND-T06M1</option> 
<option value="1072">NE-080T1J</option> 
<option value="1073">NE-80E2EA</option> 
`;
break;
case "113":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "114":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1081">  SHELL POWER MAX ULTR</option> 
`;
break;
case "115":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1082">  ZD020-12M</option> 
<option value="1083">ZD040-12M</option> 
`;
break;
case "116":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1084">  SPM10-P</option> 
<option value="1085">SPM-10PB</option> 
<option value="1086">SPM-10SB</option> 
<option value="1087">SPM20-M</option> 
<option value="1088">SPM20-P</option> 
<option value="1089">SPM-20SB</option> 
<option value="1090">SPM-30PB</option> 
<option value="1091">SPM-40SB</option> 
<option value="1092">SPM45-P</option> 
<option value="1093">SPM-50PB</option> 
<option value="1094">SPM-65PB</option> 
<option value="1095">SPM80-P</option> 
<option value="1096">SPM-80PB</option> 
<option value="1097">SPM-80SB</option> 
<option value="117">Panel Name:Su-Kam Power System Ltd</option> 
<option value=" ">-Select-/option>
<option value="1101">  SUK 20W</option> 
<option value="1102">SUK 80W</option> 
`;
break;
case "118":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1104">  MSP 100W</option> 
<option value="1105">MSP 150W</option> 
<option value="1106">MSP 200W</option> 
<option value="1107">MSP 20W</option> 
<option value="1108">MSP 40W</option> 
<option value="1109">MSP 60W</option> 
<option value="1110">MSP 80W</option> 
`;
break;
case "119":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="120">Panel Name: </option> 
<option value=" ">-Select-/option>
`;
break;
case "121":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1116">  SLP010-12</option> 
<option value="1117">SLP055-12</option> 
<option value="1118">SLP060-12</option> 
<option value="1119">SLP080-12</option> 
<option value="1120">SLP100-12</option> 
<option value="1121">SLP10-12</option> 
<option value="1122">SLP20-12</option> 
<option value="1123">SLP30-12</option> 
<option value="1124">SLP40-12</option> 
<option value="1125">SLP50-12</option> 
`;
break;
case "122":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1130">  SUNMODULE/SW25</option> 
<option value="1131">SUNMODULE/SW40</option> 
<option value="1132">SW 25 MONO</option> 
<option value="1133">SW 25 MONO/RB094</option> 
<option value="1134">SW 40 MONO</option> 
<option value="1135">SW 40 POLY/RC094</option> 
<option value="1136">SW 40 POLY/RGA</option> 
<option value="1137">SW50MONO/RD094</option> 
<option value="1138">SW80MONO/R5A</option> 
`;
break;
case "123":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1144">  SP185F</option> 
<option value="1145">SPF200FP12</option> 
`;
break;
case "124":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "125":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "126":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "127":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "128":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1148">  SPARE PARTS</option> 
`;
break;
case "129":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="130">Panel Name:Sun Technics</option> 
<option value=" ">-Select-/option>
<option value="1155">  STI-05</option> 
<option value="131">Panel Name:Sun Link</option> 
<option value=" ">-Select-/option>
<option value="1206">  SL 080-12</option> 
<option value="1207">SL 100-12</option> 
<option value="1208">SL0090-12</option> 
<option value="1209">SL010-12</option> 
<option value="1210">SL020-12</option> 
<option value="1211">SL040-12</option> 
<option value="1212">SL050-12</option> 
<option value="1213">SL060-12</option> 
<option value="1214">SL080-12</option> 
<option value="1215">SL090-12</option> 
<option value="1216">SL120-12</option> 
<option value="1217">SLP005-12</option> 
<option value="132">Panel Name:Sun N Sand Exim (India) Pvt. Ltd.</option> 
<option value=" ">-Select-/option>
<option value="1218">  SNS36CP-100WP</option> 
<option value="1219">SNS36CP-150WP</option> 
<option value="1220">SNS36CP-160WP</option> 
<option value="1221">SNS36CP-200WP</option> 
<option value="1222">SNS36CP-330WP</option> 
<option value="1223">SNS36CP-50WP</option> 
<option value="1224">SNS36CP-55WP</option> 
<option value="1225">SNS36CP-80WP</option> 
`;
break;
case "133":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1226">  SPM-10PB</option> 
<option value="1227">SPM-20PB</option> 
<option value="1228">SPM-20SB</option> 
<option value="1229">SPM-5SB</option> 
<option value="1230">SPM-80PB</option> 
`;
break;
case "134":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1231">  PSS1205</option> 
`;
break;
case "135":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1234">  ST</option> 
`;
break;
case "136":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1235">  STP005S-12/DB</option> 
<option value="1236">STP010-12/KB</option> 
<option value="1237">STP010-12/KD</option> 
<option value="1238">STP010S-12/KB</option> 
<option value="1239">STP020S-12/CB</option> 
<option value="1240">STP040S-12/RB</option> 
<option value="1241">STP065S-12/SB</option> 
<option value="1242">STP120S-12/TB</option> 
<option value="137">Panel Name:Sun Technic</option> 
<option value=" ">-Select-/option>
<option value="1246">  STIM10</option> 
<option value="1247">STIM20</option> 
<option value="1248">STIM40</option> 
<option value="1249">STIM75</option> 
`;
break;
case "138":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1255">  SPVM/K</option> 
`;
break;
case "139":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="140">Panel Name:TATA BP SOLAR</option> 
<option value=" ">-Select-/option>
<option value="1258">  BP340J</option> 
<option value="1259">BP350J</option> 
<option value="1260">BP375J</option> 
<option value="1261">TBP1210M</option> 
<option value="1262">TBP1212M</option> 
<option value="1263">TBP1220</option> 
<option value="1264">TBP1220M</option> 
<option value="1265">TBP1230M</option> 
<option value="1266">TBP1240M</option> 
<option value="1267">TBP1260M</option> 
<option value="1268">TBP1275M</option> 
<option value="1269">TBP1280M</option> 
`;
break;
case "141":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1270">  B 100 CE</option> 
<option value="1271">BP 3125 J</option> 
<option value="1272">BP 3170</option> 
<option value="1273">BP 3170 N</option> 
<option value="1274">BP 3230 N</option> 
<option value="1275">BP 340</option> 
<option value="1276">BP 340 J</option> 
<option value="1277">BP 380 J</option> 
<option value="1278">BP375J</option> 
<option value="1279">BP380J</option> 
<option value="1280">LVD CE</option> 
<option value="1281">LVD HP</option> 
<option value="1282">LVD SC-1</option> 
<option value="1283">TBP 1210</option> 
<option value="1284">TBP 1210 M</option> 
<option value="1285">TBP 1212 M</option> 
<option value="1286">TBP 1220</option> 
<option value="1287">TBP 1220 M</option> 
<option value="1288">TBP 1240</option> 
<option value="1289">TBP 1240 M</option> 
<option value="1290">TBP 1280</option> 
<option value="1291">TBP 1280 M</option> 
<option value="1292">TBP1230M</option> 
<option value="1293">TBP1250M</option> 
<option value="1294">TBP-1260M</option> 
<option value="1295">THERMAL</option> 
`;
break;
case "142":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1296">  MS 200WP</option> 
<option value="1297">MS 250WP</option> 
<option value="1298">MS 50WP</option> 
<option value="1299">SC</option> 
`;
break;
case "143":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1300">  TEL12P100</option> 
<option value="1301">TEL12P150</option> 
<option value="1302">TEL12P20</option> 
<option value="1303">TEL12P55</option> 
<option value="1304">TEL24P250</option> 
`;
break;
case "144":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1305">  GSTN 115</option> 
<option value="1306">GSTN 150</option> 
<option value="1307">GSTN 18</option> 
<option value="1308">GSTN 200</option> 
<option value="1309">GSTN 35</option> 
<option value="1310">GSTN 55</option> 
<option value="1311">GSTN 80</option> 
`;
break;
case "145":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1329">  USP12</option> 
<option value="1330">USP20</option> 
<option value="1331">USP25</option> 
<option value="1332">USP37</option> 
<option value="1333">USP45</option> 
`;
break;
case "146":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1334">  ELDORA 200</option> 
<option value="1335">ELDORA 20P</option> 
<option value="1336">ELDORA 220P</option> 
<option value="1337">ELDORA 40</option> 
<option value="1338">ELDORA 40P</option> 
<option value="1339">ELDORA 50P</option> 
<option value="1340">ELDORA 75P</option> 
<option value="1341">ELDORA100</option> 
<option value="1342">ELDORA20</option> 
<option value="1343">ELDORA60</option> 
<option value="1344">ELDORA80</option> 
`;
break;
case "147":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1345">  ELDORA 10</option> 
`;
break;
case "148":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1348">  ELDORA- 10</option> 
<option value="1349">ELDORA- 125</option> 
<option value="1350">ELDORA- 20</option> 
<option value="1351">ELDORA- 40</option> 
<option value="1352">ELDORA- 60</option> 
<option value="1353">ELDORA- 80</option> 
<option value="1354">ELDORA-190</option> 
`;
break;
case "149":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1355">  WS-10</option> 
<option value="1356">WS-100</option> 
<option value="1357">WS-20</option> 
<option value="1358">WS-40</option> 
<option value="1359">WS-51</option> 
<option value="1360">WS-60</option> 
<option value="1361">WS-80</option> 
`;
break;
case "150":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1362">  GS080W-6P</option> 
<option value="1363">GS100W-6P</option> 
<option value="1364">GS150W-6P</option> 
`;
break;
case "151":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1365">  WS-10</option> 
<option value="1366">WS-100</option> 
<option value="1367">WS-120</option> 
<option value="1368">WS-130</option> 
<option value="1369">WS-140</option> 
<option value="1370">WS-20</option> 
<option value="1371">WS-40</option> 
<option value="1372">WS-60</option> 
<option value="1373">WS-80</option> 
`;
break;
case "152":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1374">  GS020 12V</option> 
<option value="1375">GS100W-6P</option> 
<option value="1376">SLP010 12V</option> 
<option value="1377">SLP010-12V</option> 
<option value="1378">SLP020-12 V</option> 
<option value="1379">SLP020-12V</option> 
<option value="1380">SLP040 12V</option> 
<option value="1381">SLP060 12V</option> 
<option value="1382">SLP080 12V</option> 
<option value="1383">SLP120 12V</option> 
<option value="1384">SLP190S 24V</option> 
<option value="1385">SLP280 24V</option> 
<option value="1386">SLP95 12V</option> 
<option value="1387">SPL055-12V</option> 
`;
break;
case "153":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1390">  SKT100P6-12</option> 
<option value="1391">SKT20M6-12</option> 
<option value="1392">SKT55P6-12</option> 
<option value="1393">SKT80M6-12</option> 
`;
break;
case "154":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "155":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1403">  KD100M(100)</option> 
<option value="1404">KD100M(40)</option> 
<option value="1405">KD120M(36)</option> 
<option value="1406">KD20M(36)</option> 
<option value="1407">KD40M(36)</option> 
<option value="1408">KD50M(36)</option> 
<option value="1409">KD80M(</option> 
<option value="1410">KD80M(36)</option> 
<option value="1411">KD80M(80)</option> 
`;
break;
case "156":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1413">  KD150M(36)</option> 
<option value="1414">KD20P(36)</option> 
<option value="1415">KD80P(36)</option> 
<option value="1416">SP 20W</option> 
`;
break;
case "157":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1417">  TD130P6</option> 
`;
break;
case "158":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1419">  FDS020-12P</option> 
<option value="1420">FDS050-12P</option> 
<option value="1421">FDS080-12P</option> 
<option value="1422">FDS100-12M</option> 
<option value="1423">FDS100-12P</option> 
<option value="1504">FDS150-12P</option> 
`;
break;
case "159":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "160":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1424">  SCM100P</option> 
<option value="1425">SCM120M</option> 
<option value="1426">SCM145P</option> 
<option value="1427">SCM205P</option> 
<option value="1428">SCM20M</option> 
<option value="1429">SCM20P</option> 
<option value="1430">SCM40M</option> 
<option value="1431">SCM40P</option> 
<option value="1432">SCM55P</option> 
<option value="1433">SCM60M</option> 
<option value="1434">SCM80P</option> 
`;
break;
case "161":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1442">  GPM200W(72)</option> 
<option value="1443">GPM50W(36)</option> 
<option value="1444">GPP-100W</option> 
<option value="1445">GPP-100W(36)</option> 
<option value="1446">GPP-150W</option> 
<option value="1447">GPP-315W</option> 
<option value="1448">GPP-55W(36)</option> 
<option value="1449">GPP-80W</option> 
<option value="1516">GPP-50w(36)</option> 
`;
break;
case "162":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1450">  KL100W-36P</option> 
<option value="1451">KL10W-36P</option> 
<option value="1452">KL150W-36P</option> 
<option value="1453">KL20W-36P</option> 
<option value="1454">KL50W-36P</option> 
<option value="1455">KL80W-36P</option> 
`;
break;
case "163":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1456">  MS-M120(36)</option> 
<option value="1457">MS-M190(54)</option> 
<option value="1458">MS-M20(36)</option> 
<option value="1459">MS-M200(54)</option> 
<option value="1460">MS-M40(36)</option> 
<option value="1461">MS-M60(36)</option> 
<option value="1462">MS-M75(36)</option> 
`;
break;
case "164":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1463">  SNM-P100(36)</option> 
<option value="1464">SNM-P20(36)</option> 
<option value="1465">SNM-P40(36)</option> 
<option value="1466">SNM-P55(36)</option> 
<option value="1467">SNM-P60(36)</option> 
`;
break;
case "165":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1468">  MS-20M-(36)</option> 
<option value="1469">MS-M40-(36)</option> 
<option value="1470">MS-M75(36)</option> 
<option value="1471">MS-P140(36)</option> 
`;
break;
case "166":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1477">  MONO 180W</option> 
<option value="1478">MONO 20W</option> 
<option value="1479">MONO 75W</option> 
`;
break;
case "167":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "168":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1480">  MM 10WP</option> 
<option value="1481">MM 120WP</option> 
<option value="1482">MM 185WP</option> 
<option value="1483">MM 20WP</option> 
<option value="1484">MM 40WP</option> 
<option value="1485">MM 60WP</option> 
<option value="1486">MM 80WP</option> 
<option value="1487">MM 90WP</option> 
`;
break;
case "169":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="423">Panel Name:Test Manu</option> 
<option value=" ">-Select-/option>
<option value="424">Panel Name:Test Manu</option> 
<option value=" ">-Select-/option>
`;
break;
case "449":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
`;
break;
case "450":
modelSelect.innerHTML += `
<option value=" ">-Select-/option>
<option value="1520">  YH100W-18P</option> 
<option value="1521">YH050W-18M</option> 
`;
break;








 