.dashboard
{
	height: calc(100% - 60px - 0.5rem);
	&__info
	{
		display: grid;
		height: fit-content;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		.dashcard__wrapper
		{
			// width: 100px;
			// height: 100px;
		}
	}
}